<body>
    <!-- slider -->
    <div class="container-fluid">
        <div class="carousel slide" id="mySlider" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img  src="assets\vivo-v15-v15-pro-banner.png" alt="assets\banner2.jpg" class="banner">
                </div>
                <!-- <div class="carousel-item active">
                    <img  src="assets\banner2.jpg"alt="assets\banner2.jpg" class="banner">
                </div>
                <div class="carousel-item">
                    <img  src="assets\banner3.jpg"alt="assets\banner2.jpg" class="banner">
                </div>
                <div class="carousel-item">
                    <img  src="assets\banner1.jpg"alt="assets\banner2.jpg" class="banner">
                </div> -->
            </div>
            <!-- <div>
                <ul class="carousel-indicators">
                    <li data-target="#mySlider" data-slide-to="0" class="active"> </li>
                    <li data-target="#mySlider" data-slide-to="1"> </li>
                    <li data-target="#mySlider" data-slide-to="2"> </li>
                    <li data-target="#mySlider" data-slide-to="3"> </li>
                </ul>
                <a href="#mySlider" data-slide="prev" class="carousel-control-prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#mySlider" data-slide="next" class="carousel-control-next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div> -->
        </div>
    </div>
      <!-- <img src="assets\banner1.jpg" class="banner  img-fluid"> -->
      <!-- end slider -->
      <hr>
    <h2>Smart Phone's</h2>
      <hr>
      <a routerLink="/electronics">
      <div style="margin: 2px;" class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\mobile1.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 49,999/-</h1>
            </div>
        </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\mobile2.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 9,999/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\mobile3.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 19,990/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\mobile4.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 12,999/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\mobile5.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 11,999/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\mobile6.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 19,999/-</h1>
                </div>
            </div>
            <br>
        </div>
    </div>
    </a>
    <hr>
    <h2>Electronics Device's</h2>
    <hr>
    <a routerLink="/electronics">
    <div style="margin: 2px;" class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\mouse1.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,090/-</h1>
            </div>
        </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\laptop1.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 76,999/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\mouse3.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,990/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\laptop2.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 67,999/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\laptop3.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 56,950/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\mouse4.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 3,450/-</h1>
                </div>
            </div>
            <br>
        </div>
    </div>
    </a>
  <hr>
  <h2>School Bag's</h2>
      <hr>
      <a href="#">
      <div style="margin: 2px;" class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\bag1.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,090/-</h1>
            </div>
        </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\bag6.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 2,999/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\bag3.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,990/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\bag2.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 760/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\bag4.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 950/-</h1>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="card">
                <img src="assets\bag5.png" class="img-fluid img-thumbnail">
                <div class="card-body">
                    <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,450/-</h1>
                </div>
            </div>
            <br>
        </div>
    </div>
    </a>
  <hr>
  <h2>Earphone's</h2>
  <hr>
  <a href="#">
  <div style="margin: 2px;" class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
    <div class="card">
        <img src="assets\earphone2.png" class="img-fluid img-thumbnail">
        <div class="card-body">
            <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,090/-</h1>
        </div>
    </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\earphone1.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 999/-</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\earphone3.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,990/-</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\earphone5.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,999/-</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\earphone6.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 3,950/-</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\earphone4.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 2,450/-</h1>
            </div>
        </div>
        <br>
    </div>
</div>
</a>
<hr>
<h2>Soft Toy's</h2>
<hr>
<a href="#">
<div style="margin: 2px;" class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
    <div class="card">
        <img src="assets\teddy1.png" class="img-fluid img-thumbnail">
        <div class="card-body">
            <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 299/-</h1>
        </div>
    </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\teddy2.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 999/-</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\teddy3.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,990/-</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\teddy4.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 2,999/-</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\teddy5.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,999/-</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
        <div class="card">
            <img src="assets\teddy6.png" class="img-fluid img-thumbnail">
            <div class="card-body">
                <h1 style="font-size: 1.3rem;font-weight: bold;" class="btn card-header d-block text-warning">Price: 1,045/-</h1>
            </div>
        </div>
        <br>
    </div>
</div>
</a>
<br>

</body>

<router-outlet></router-outlet>